opencv-python
numpy  
pillow 
ultralytics
requests
git+https://github.com/THU-MIG/yolov10.git
huggingface_hub
uvicorn
fastapi
python-multipart
torch>=1.7
opencv-python-headless
matplotlib
pip>=22.3

#virtualenv
#numpy
#pillow
#requests
#uvicorn
#fastapi
#torch
#torchvision>=0.9.0
#opencv-python-headless
#matplotlib
#gunicorn
#ultralytics
#python-multipart
#huggingface_hub


