#opencv-python
numpy  
pillow 
ultralytics
requests
#git+https://github.com/THU-MIG/yolov10.git
#huggingface_hub
uvicorn
fastapi
#python-multipart
#torch>=1.7
#opencv-python-headless
#matplotlib
#pip>=22.3
