#opencv-python
#numpy  
#pillow 
#ultralytics
#requests
#git+https://github.com/THU-MIG/yolov10.git
#huggingface_hub
#uvicorn
#fastapi
#python-multipart
#torch>=1.7
#opencv-python-headless
#matplotlib
#pip>=22.3

numpy
pillow
requests
uvicorn
fastapi
#torch==2.5.1+cpu
#torchvision==0.16.1+cpu
#torchaudio==2.5.1+cpu
torch===1.6.0 torchvision===0.7.0 -f https://download.pytorch.org/whl/torch_stable.html
#PyTorch>=1.8
opencv-python-headless
matplotlib
gunicorn
ultralytics
#git+https://github.com/THU-MIG/yolov10.git


